In [8]:
import pandas as pd

In [9]:
s = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd'])
s

a    3
b   -5
c    7
d    4
dtype: int64

In [10]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
        'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
        'Population': [11190846, 1303171035, 207847528]}
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

In [11]:
df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [12]:
df["Country"][1] = "Bangalore"

/home/csk/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
df.rename(columns={"world":"Country"},inplace=True)
df["indexx"]=["a","b","c"]
df.set_index("index")

TypeError: 'list' object is not callable

In [16]:
df.iloc[2,0]

'Brazil'

In [17]:
df.iat[2,0]

'Brazil'

In [19]:
df.loc[2,'Country']

'Brazil'

In [20]:
df.at[2,'Country']

'Brazil'

In [34]:
[[1,2,3],[1,2,3],[1,2,3]]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [37]:
df.values

array([['Belgium', 'Brussels', 11190846, 'a', 'a'],
       ['Bangalore', 'New Delhi', 1303171035, 'b', 'b'],
       ['Brazil', 'Brasilia', 207847528, 'c', 'c']], dtype=object)

In [38]:
type(df.values)

numpy.ndarray

In [39]:
type(df)

pandas.core.frame.DataFrame