In [1]:
# pandas is sql table form datastructure
import pandas as pd
# numpy is a multidimentional array
import numpy as np

# 1. Object creation
# creating series
series = pd.Series([1,3,5,np.nan,6,8])
#print(series)

# creating datetime index using dataframe
dates = pd.date_range('20130101',periods=6)
#print(dates)
#print(np.random.randn(6,4))
# creating data frame
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01  0.941534 -0.482751  0.519183 -1.859234
2013-01-02  1.825838 -0.161677 -0.265353 -1.004164
2013-01-03  0.721283 -1.265860  1.099496  0.315278
2013-01-04  1.172413 -0.261394 -0.029303 -0.777167
2013-01-05  0.959279 -0.108792  1.157102 -0.446817
2013-01-06 -0.066476  0.815807  0.329447 -0.279954

In [2]:
df.mean()

A    0.925645
B   -0.244111
C    0.468429
D   -0.675343
dtype: float64

In [3]:
# 0 - columnise operations
df.mean(0)

A    0.925645
B   -0.244111
C    0.468429
D   -0.675343
dtype: float64

In [4]:
# 1 - rowise operations
df.mean(1)

2013-01-01   -0.220317
2013-01-02    0.098661
2013-01-03    0.217549
2013-01-04    0.026137
2013-01-05    0.390193
2013-01-06    0.199706
Freq: D, dtype: float64

In [6]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(1)
print(s)
print(df)
print(df.sub(s, axis='index'))

2013-01-01    NaN
2013-01-02    1.0
2013-01-03    3.0
2013-01-04    5.0
2013-01-05    NaN
2013-01-06    6.0
Freq: D, dtype: float64
                   A         B         C         D
2013-01-01  0.941534 -0.482751  0.519183 -1.859234
2013-01-02  1.825838 -0.161677 -0.265353 -1.004164
2013-01-03  0.721283 -1.265860  1.099496  0.315278
2013-01-04  1.172413 -0.261394 -0.029303 -0.777167
2013-01-05  0.959279 -0.108792  1.157102 -0.446817
2013-01-06 -0.066476  0.815807  0.329447 -0.279954
                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02  0.825838 -1.161677 -1.265353 -2.004164
2013-01-03 -2.278717 -4.265860 -1.900504 -2.684722
2013-01-04 -3.827587 -5.261394 -5.029303 -5.777167
2013-01-05       NaN       NaN       NaN       NaN
2013-01-06 -6.066476 -5.184193 -5.670553 -6.279954

In [41]:
# apply
print(df.apply(np.mean,axis=1))
print(df.apply(np.mean,axis=0))
#print(df["A"].apply(np.mean,axis=0))

print(df.apply(lambda x: x.max() - x.min()))

2013-01-01   -0.220317
2013-01-02    0.098661
2013-01-03    0.217549
2013-01-04    0.026137
2013-01-05    0.390193
2013-01-06    0.199706
Freq: D, dtype: float64
A    0.925645
B   -0.244111
C    0.468429
D   -0.675343
dtype: float64
A    1.892314
B    2.081667
C    1.422454
D    2.174512
dtype: float64

In [25]:
def addition(x):
    return x+100

df["A"].apply(lambda x: addition(x))

2013-01-01    100.941534
2013-01-02    101.825838
2013-01-03    100.721283
2013-01-04    101.172413
2013-01-05    100.959279
2013-01-06     99.933524
Freq: D, Name: A, dtype: float64

In [49]:
print(df)
def test(x):
    print(x)
    print(max(x.values))
    return max(x.values)

# apply rowise
print(df.apply(test,axis=0))
# apply columnwise
print(df.apply(test,axis=1))
#print(df.apply(np.mean,axis=0))

                   A         B         C         D
2013-01-01  0.941534 -0.482751  0.519183 -1.859234
2013-01-02  1.825838 -0.161677 -0.265353 -1.004164
2013-01-03  0.721283 -1.265860  1.099496  0.315278
2013-01-04  1.172413 -0.261394 -0.029303 -0.777167
2013-01-05  0.959279 -0.108792  1.157102 -0.446817
2013-01-06 -0.066476  0.815807  0.329447 -0.279954
2013-01-01    0.941534
2013-01-02    1.825838
2013-01-03    0.721283
2013-01-04    1.172413
2013-01-05    0.959279
2013-01-06   -0.066476
Freq: D, Name: A, dtype: float64
1.8258378774638238
2013-01-01   -0.482751
2013-01-02   -0.161677
2013-01-03   -1.265860
2013-01-04   -0.261394
2013-01-05   -0.108792
2013-01-06    0.815807
Freq: D, Name: B, dtype: float64
0.8158071811184547
2013-01-01    0.519183
2013-01-02   -0.265353
2013-01-03    1.099496
2013-01-04   -0.029303
2013-01-05    1.157102
2013-01-06    0.329447
Freq: D, Name: C, dtype: float64
1.157101767100459
2013-01-01   -1.859234
2013-01-02   -1.004164
2013-01-03    0.315278
2013-01-04   -0.777167
2013-01-05   -0.446817
2013-01-06   -0.279954
Freq: D, Name: D, dtype: float64
0.3152779286706415
A    1.825838
B    0.815807
C    1.157102
D    0.315278
dtype: float64

In [52]:
# pandas is sql table form datastructure
import pandas as pd
# numpy is a multidimentional array
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4))
print(df)

# break it into pieces
# first 3 rows, then 7+ and 3 to 7
pieces = [df[:3], df[7:], df[3:7],
          pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})]
print(pieces)
# concat
print(pd.concat(pieces))

          0         1         2         3
0  0.628866 -1.075114 -0.828322 -0.686112
1 -0.094795 -0.500364 -0.572944  0.102125
2  0.314068  0.596626  0.743718  1.179606
3  0.226289  0.147885 -0.441105 -0.667055
4  0.274032  1.900671 -0.406988 -1.220136
5 -2.034755 -0.265424  0.544784  1.588317
6 -0.496484  1.138541 -0.519363  0.097761
7 -2.407985  0.270407  1.258427  1.531042
8  1.598020  2.081670  1.587890 -1.155551
9 -0.483241 -1.887247  0.272494 -0.815151
[          0         1         2         3
0  0.628866 -1.075114 -0.828322 -0.686112
1 -0.094795 -0.500364 -0.572944  0.102125
2  0.314068  0.596626  0.743718  1.179606,           0         1         2         3
7 -2.407985  0.270407  1.258427  1.531042
8  1.598020  2.081670  1.587890 -1.155551
9 -0.483241 -1.887247  0.272494 -0.815151,           0         1         2         3
3  0.226289  0.147885 -0.441105 -0.667055
4  0.274032  1.900671 -0.406988 -1.220136
5 -2.034755 -0.265424  0.544784  1.588317
6 -0.496484  1.138541 -0.519363  0.097761,    key  lval
0  foo     1
1  bar     2]
          0         1         2         3  key  lval
0  0.628866 -1.075114 -0.828322 -0.686112  NaN   NaN
1 -0.094795 -0.500364 -0.572944  0.102125  NaN   NaN
2  0.314068  0.596626  0.743718  1.179606  NaN   NaN
7 -2.407985  0.270407  1.258427  1.531042  NaN   NaN
8  1.598020  2.081670  1.587890 -1.155551  NaN   NaN
9 -0.483241 -1.887247  0.272494 -0.815151  NaN   NaN
3  0.226289  0.147885 -0.441105 -0.667055  NaN   NaN
4  0.274032  1.900671 -0.406988 -1.220136  NaN   NaN
5 -2.034755 -0.265424  0.544784  1.588317  NaN   NaN
6 -0.496484  1.138541 -0.519363  0.097761  NaN   NaN
0       NaN       NaN       NaN       NaN  foo   1.0
1       NaN       NaN       NaN       NaN  bar   2.0

In [64]:
# join

#left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
#right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo1', 'bar1'], 'rval': [4, 5]})


print(left)
print(right)

# default inner join
print(pd.merge(left, right, on='key'))
print(pd.merge(left, right, on='key',how='inner'))
print(pd.merge(left, right, on='key',how='left'))
print(pd.merge(left, right, on='key',how='right'))
print(pd.merge(left, right, on='key',how='outer'))

   key  lval
0  foo     1
1  bar     2
    key  rval
0  foo1     4
1  bar1     5
Empty DataFrame
Columns: [key, lval, rval]
Index: []
   key  lval  rval
0  foo     1   NaN
1  bar     2   NaN
    key  lval  rval
0  foo1   NaN     4
1  bar1   NaN     5
    key  lval  rval
0   foo   1.0   NaN
1   bar   2.0   NaN
2  foo1   NaN   4.0
3  bar1   NaN   5.0

In [68]:
# appending a data 
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
print(df)
s = df.iloc[3]
print(s)
# reseting the index :ignore_index
print(df.append(s, ignore_index=True))

          A         B         C         D
0 -2.660287 -2.379000 -0.062225  0.582628
1 -0.149831  0.253296 -0.984756 -0.679105
2  0.321697  1.838803 -0.616175  1.094114
3  0.834661 -1.871496  0.616778  0.613517
4  0.385308 -0.750248  0.984767 -0.448200
5  0.420083  0.534010  1.016282  0.651563
6  0.493739 -1.192512  0.031299  0.084870
7 -1.270986 -2.222635  1.678915 -0.344838
A    0.834661
B   -1.871496
C    0.616778
D    0.613517
Name: 3, dtype: float64
          A         B         C         D
0 -2.660287 -2.379000 -0.062225  0.582628
1 -0.149831  0.253296 -0.984756 -0.679105
2  0.321697  1.838803 -0.616175  1.094114
3  0.834661 -1.871496  0.616778  0.613517
4  0.385308 -0.750248  0.984767 -0.448200
5  0.420083  0.534010  1.016282  0.651563
6  0.493739 -1.192512  0.031299  0.084870
7 -1.270986 -2.222635  1.678915 -0.344838
8  0.834661 -1.871496  0.616778  0.613517

In [69]:
# Aggregation
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo'],
                      'B' : ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                      'C' : np.random.randn(8),
                      'D' : np.random.randn(8)})

print(df)

print(df.groupby('A').sum())
print(df.groupby(['A','B']).sum())

     A      B         C         D
0  foo    one  1.383277 -1.484545
1  bar    one -1.424376  0.413183
2  foo    two -1.113758  0.140063
3  bar  three -0.606830  1.441949
4  foo    two -0.859273 -1.312522
5  bar    two -0.115491  0.606907
6  foo    one  1.348787  0.330764
7  foo  three -0.627485  0.224327
            C         D
A
bar -2.146697  2.462038
foo  0.131548 -2.101914
                  C         D
A   B
bar one   -1.424376  0.413183
    three -0.606830  1.441949
    two   -0.115491  0.606907
foo one    2.732064 -1.153781
    three -0.627485  0.224327
    two   -1.973031 -1.172459